<footer>

  <div class="container">
  <div class="row">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
            <li>1-1A, 1-1B, 1-2A, 1-2B, Jalan UP 1/3,</li>
            <li>Taman Ukay Perdana, 68000</li>
            <li>Ampang, Selangor</li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-copyright">
        <p>{{ site.description | escape }}</p>
        <p>{{ site.copyright | escape }}</p>
      </div>
    </div>

  </div>
  </div>

</footer>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf7wr1w1ZkqjAXVzwfQ0xyf3yPkA1B6ig&callback=initMap" async defer></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="assets/js/bin/materialize.min.js"></script>
<script type="text/javascript" src="assets/js/parallax.js"></script>
<script type="text/javascript" src="assets/js/pushpin.js"></script>
<script type="text/javascript" src="assets/js/scrollspy.js"></script>
<script type="text/javascript" src="assets/js/scripts.js"></script>
