<header>
  <div class="navbar-fixed navbar-top" role="banner">
    <nav class="navbar pin-top" data-target="navbar-top">
      <div class="nav-wrapper">

        <div class="container">
          <a class="brand-logo" href="#">
            <img src="assets/images/ccp_logo.png" alt="City Car Park Logo">
          </a>
          <!-- <a href="#" data&#45;activates="mobile&#45;menu" class="button&#45;collapse"><i class="fa fa&#45;bars">menu</i></a> -->

          <ul class="right hide-on-med-and-down">
            <li><a href="#rakan-kami" class="smooth-scroll">RAKAN KAMI</a></li>
            <li><a href="#ciri-produk" class="smooth-scroll">CIRI PERKHIDMATAN</a></li>
            <li><a href="#pembayaran" class="smooth-scroll">PILIHAN PEMBAYARAN</a></li>
            <li><a href="#hubungi" class="smooth-scroll">HUBUNGI</a></li>
          </ul>

          <ul class="side-nav" id="mobile-menu">
            <li><a href="#rakan-kami">RAKAN KAMI</a></li>
            <li><a href="#fungsi-produk">APA YANG KAMI TAWARKAN</a></li>
            <li><a href="#hubungi">HUBUNGI</a></li>
          </ul>
        </div>

      </div>
    </nav>

  </div>
</header>
