---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// 13. Navigation Bar
$navbar-height: 84px;
$navbar-font-size: 1rem;
$navbar-font-weight: 300;
$navbar-font-color: rgba(255,255,255, 1);
// $navbar-brand-font-size: 2.1rem !default;

$parallax-container-height: 700px;
$header-height: $navbar-height + $parallax-container-height;


$roboto-font-path: "/assets/fonts/roboto/" !default;
// $primary-color: color("teal", "lighten-1");
@import "materialize";
@import "font-awesome";

$primary-color: $cyan;

body {
  min-height: 100%;
  color: #8a909b;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 1px;
}

nav {
  // top: 0;
  padding: 0 15px;
  .brand-logo img {
    @include transition(all, 0.2s, ease-in-out);
  }
  @include transition(background-color, 0.2s, transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955));
}
nav.navbar.pin-top {
  // background-color: rgba(0,0,0, 0.1);
  box-shadow: none;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#007db9e8',GradientType=0 );
  .brand-logo img {
    height: 60px;
    filter: grayscale(100%);
  }
}

nav.navbar.pinned {
  background-color: rgba(255, 255, 255, 1);
  height: 52px;
  line-height: 52px;
  li > a {
    color: rgba(0,0,0,0.7);
    &.active {
      color: green;
    }
  }
  .brand-logo img {
    height: 46px;
    padding-top: 10px;
  }
  @include transition(all, 0.2s, linear);
}

#mobile-menu { z-index: 1001; }
#sidenav-overlay { z-index: 10; }

header {
  // height: 100vh;
  // height: $header-height;
  // height: 100%;
  // width: 100%;
  // position: absolute;
}

.section {
  // margin-top: $header-height;
  // padding-top: 70px;
  position: relative;
}

.parallax-container.parallax-header {
  // position: static;
  // height: $parallax-container-height;
  height: 100vh;
  margin-top: -$navbar-height;
  // margin-top: -$navbar-height;
}

.jumper {
  position: relative;
  text-align: center;
  bottom: 200px;
  width: 100px;
  margin: 0 auto;
  a {
    color: rgba(255,255,255, 1);
    font-size: 5rem;
    line-height: 10px;
    span {
      font-size: 1rem;
      padding: 0;
      margin: 0;
    }
  }
}

.content-wrapper {
  position: relative;
}

.back-to-top {
  position: fixed;
  z-index: 99999;
  bottom: 1em;
  right: 1em;
  text-decoration: none;
  color: #fff;
  background-color: rgba(40, 40, 46, 0.8);
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: none;
  @include transition(all, 0.3s, ease-in-out);
}

.back-to-top:hover {
  background-color: #F26F70;
  color: #fff;
}
