---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// 13. Navigation Bar
$navbar-height: 84px;
$navbar-font-size: 1rem;
$navbar-font-weight: 300;
$navbar-font-color: rgba(255,255,255, 0.95);
// $navbar-brand-font-size: 2.1rem !default;

$parallax-container-height: 700px;
$header-height: $navbar-height + $parallax-container-height;


$roboto-font-path: "fonts/roboto/" !default;
// $primary-color: color("teal", "lighten-1");
@import "materialize";
@import "font-awesome";

$primary-color: $cyan;

body {
  min-height: 100%;
  color: #8a909b;
  -webkit-font-smoothing: subpixel-antialiased;
  // -webkit-transform-style: preserve-3d;
  // -webkit-backface-visibility: hidden;
  letter-spacing: 1px;
}

nav {
  // top: 0;
  padding: 0 15px;
  .brand-logo img {
    @include transition(all, 0.2s, ease-in-out);
  }
  @include transition(background-color, 0.2s, transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955));
}
nav.navbar.pin-top {
  // background-color: rgba(0,0,0, 0.1);
  box-shadow: none;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#007db9e8',GradientType=0 );
  .brand-logo img {
    height: 60px;
    filter: grayscale(100%);
  }
}

nav.navbar.pinned {
  background-color: $navbar-font-color;
  height: 52px;
  line-height: 52px;
  li > a {
    color: rgba(0,0,0,0.7);
    &.active {
      color: color(light-blue, darken-4);
    }
  }
  .brand-logo img {
    height: 46px;
    padding-top: 10px;
  }
  @include transition(all, 0.2s, linear);
}

#mobile-menu { z-index: 1001; }
#sidenav-overlay { z-index: 10; }

.section {
  position: relative;
  background-image: url(../assets/images/pattern-light.png);
  padding: 100px 0;
  h2 {
    text-align: center;
  }
}

#ciri-produk {
  background-image: url(../assets/images/pattern-dark.jpg);
  h2, h4 {
    color: $navbar-font-color;
  }
  h4 {
    font-weight: 200;
  }
}

.parallax-container.parallax-header {
  // position: static;
  // height: $parallax-container-height;
  height: 100vh;
  margin-top: -$navbar-height;
  // margin-top: -$navbar-height;
  img {
    // opacity: .9;
    filter: brightness(70%);
  }
}

#rakan-kamu {
  position: relative;
  text-align: center;
  bottom: 700px;
  // top: 200px;
  // width: 100px;
  margin: 0 auto;
  h2 {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
  }
  .partner {
    background-color: rgba(0,0,0,0.5);
    .card-title {
      font-weight: 200;
      // display: none;
    }
    a {
      font-weight: 800;
      color: rgba(255,255,255,.9);
    }
  }
  // -webkit-animation: scroll-down-anim ease-in-out 1s infinite;
  //         animation: scroll-down-anim ease-in-out 1s infinite;
}

.jumper {
  position: relative;
  text-align: center;
  bottom: 700px;
  width: 200px;
  margin: 0 auto;
  a {
    color: rgba(255,255,255, 0.8);
    font-size: 5rem;
    line-height: 10px;
    span {
      font-size: 1rem;
      padding: 0;
      margin: 0;
    }
  }
  -webkit-animation: scroll-down-anim ease-in-out 1s infinite;
          animation: scroll-down-anim ease-in-out 1s infinite;
}

@-webkit-keyframes scroll-down-anim {
    0%,100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }

    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-moz-keyframes scroll-down-anim {
    0%,100% {
        -moz-transform: translateY(-8px);
        transform: translateY(-8px)
    }

    50% {
        -moz-transform: translateY(0);
        transform: translateY(0)
    }
}

@-o-keyframes scroll-down-anim {
    0%,100% {
        -o-transform: translateY(-8px);
        transform: translateY(-8px)
    }

    50% {
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes scroll-down-anim {
    0%,100% {
        transform: translateY(-8px)
    }

    50% {
        transform: translateY(0)
    }
}

.content-wrapper {
  // position: relative;
  height: 100vh;
}

.back-to-top {
  position: fixed;
  z-index: 99999;
  bottom: 1em;
  right: 1em;
  text-decoration: none;
  color: #fff;
  background-color: rgba(40, 40, 46, 0.8);
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: none;
  @include transition(all, 0.3s, ease-in-out);
}

.back-to-top:hover {
  // background-color: #F26F70;
  background-color: #FFAB40;
  color: #fff;
}

.card {
  text-align: center;
  img {
    padding: 10px;
  }
}

.ciri-produk {
  margin-top: 100px;
  text-align: center;
  img {
    height: 200px;
    background-color: rgba(255,255,255, 0.95);
    padding: 10px;
    border-radius: 50%;
  }
  h4 {
    font-size: 2rem;
    font-weight: 300;
  }
}

#pembayaran {
  // background-image: url(../assets/images/pattern-light.png);
  // position: relative;
  // background-color: rgba(255,255,255, 0.5);
  background-image: url(../assets/images/pattern-swirl.png);
  // height: 800px;
  // border-bottom: 5px solid rgba(0,0,0, 0.25);
  ul > li {
    text-align: center;
    font-size: 2rem;
    line-height: 5rem;
  }
}

.map-wrapper {
  position: relative;
  padding-bottom: 35%; // This is the aspect ratio
  // height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
#map { height: 100%; }

footer {
  margin-top: -26px;
  background-image: url(../assets/images/pattern-dark.jpg);
  h2 {
    padding-top: 20px;
  }
}
