---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// 13. Navigation Bar
// ==========================================================================

$navbar-height: 64px;
$navbar-font-size: 1rem;
$navbar-font-weight: 300;
$navbar-font-color: rgba(255,255,255, 0.8);
// $navbar-brand-font-size: 2.1rem !default;


$roboto-font-path: "/assets/fonts/roboto/" !default;
// $primary-color: color("teal", "lighten-1");
@import "materialize";

$primary-color: $cyan;
nav {
  background-color: transparent !important;
  box-shadow: none;
}

.page-content {
  margin-top: 64px;
}

.slider {
  .caption {
    text-shadow: 2px 2px 5px rgba(0,0,0, .7);
  }
}

.parallax-container {
  // top: 0;
  height: 100vh;
  // height: 700px;
}

.jumper {
  border-radius: 50%;
  text-align: center;
  bottom: 100px;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 0 auto;
  margin-top: -100px;
}
