<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="top" class="content-wrapper">
      <div class="parallax-container parallax-header">
        <div class="parallax"><img src="assets/images/ssccp.png" alt=""></div>
      </div>
      <div id="rakan-kamu">
        <div class="container">
          <div class="row">
            <!-- <h2>KAWASAN OPERASI</h2> -->
            <div class="col s6 m6">
              <div class="card partner">
                <img class="responsive-img" src="assets/images/logo/dbkl.png" alt="">
                <!-- <div class="card&#45;content white&#45;text"><span class="card&#45;title">DEWAN BANDARAYA KUALA LUMPUR</span></div> -->
                <div class="card-action"><a href="http://dbkl.nizamdesign.com">Layari CityCarPark DBKL</a></div>
              </div>
            </div>
            <div class="col s6 m6">
              <div class="card partner">
                <img class="responsive-img" src="assets/images/logo/mpjasin.png" alt="">
                <!-- <div class="card&#45;content white&#45;text"><span class="card&#45;title">MAJLIS PERBANDARAN JASIN</span></div> -->
                <div class="card-action"><a href="http://mpjasin.nizamdesign.com">Layari CityCarPark MP Jasin</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumper">
        <a href="#ciri-produk" class="dead smooth-scroll">
          <span>CIRI PERKHIDMATAN</span>
          <i class="fa fa-chevron-circle-down"></i>
        </a>
      </div>
    </div>

    <!-- <div id="rakan&#45;kami" class="section scrollspy"> -->
    <!--   <div class="container"> -->
    <!--     <div class="row"> -->
    <!--       <h2>RAKAN KAMI</h2> -->
    <!--       <div class="col s12 m6"> -->
    <!--         <div class="card partner light&#45;blue darken&#45;4"> -->
    <!--           <div class="card&#45;content white&#45;text"><span class="card&#45;title">DEWAN BANDARAYA KUALA LUMPUR</span></div> -->
    <!--           <img class="reponsive&#45;img" src="assets/images/logo/dbkl.png" alt=""> -->
    <!--           <div class="card&#45;action"><a href="http://dbkl.nizamdesign.com">Layari CityCarPark DBKL</a></div> -->
    <!--         </div> -->
    <!--       </div> -->
    <!--       <div class="col s12 m6"> -->
    <!--         <div class="card partner light&#45;blue darken&#45;4"> -->
    <!--           <div class="card&#45;content white&#45;text"><span class="card&#45;title">MAJLIS PERBANDARAN JASIN</span></div> -->
    <!--           <img class="reponsive&#45;img" src="assets/images/logo/mpjasin.png" alt=""> -->
    <!--           <div class="card&#45;action"><a href="http://mpjasin.nizamdesign.com">Layari CityCarPark MP Jasin</a></div> -->
    <!--         </div> -->
    <!--       </div> -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->

      <div id="ciri-produk" class="section scrollspy z-depth-5">
        <div class="row">
          <h2>PERKHIDMATAN CITYCARPARK</h2>
          <div class="container">
            <div class="col s12 m4 ciri-produk">
              <img class="responsive-img" src="assets/images/perkhidmatan/1.png" alt="">
              <h4>Terminal Cale CWT</h4>
            </div>
            <div class="col s12 m4 ciri-produk">
              <img class="responsive-img" src="assets/images/perkhidmatan/2.png" alt="">
              <h4>Aplikasi Telefon Pintar</h4>
            </div>
            <div class="col s12 m4 ciri-produk">
              <img class="responsive-img" src="assets/images/perkhidmatan/3.png" alt="">
              <h4>Pas Bulanan & Petak Khas</h4>
            </div>
          </div>
        </div>
      </div>

      <div id="pembayaran" class="section scrollspy">
        <div class="row">
          <h2>PILIHAN PEMBAYARAN</h2>
          <div class="container">
            <ul class="collection">
              <li class="collection-item">TUNAI SYILING</li>
              <li class="collection-item">TELEFON BIMBIT</li>
              <li class="collection-item">PETAK KHAS</li>
              <li class="collection-item">KAD TOUCH 'N GO</li>
              <li class="collection-item">PAS BULANAN</li>
            </ul>
          </div>
        </div>
      </div>

      <div id="hubungi" class="section scrollspy z-depth-3">
        <div class="row">
          <h2>HUBUNGI</h2>
          <div class="map-wrapper">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.5678743885373!2d101.77768931534543!3d3.2075488976646285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc39eb7172f867%3A0x5094dbb51623a232!2sVista+Summerose+Sdn+Bhd!5e0!3m2!1sen!2smy!4v1496211910542" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

    {% include footer.html %}

    <a href="#top" class="back-to-top smooth-scroll" style="display: inline;"><i class="fa fa-long-arrow-up"></i></a>

  </body>

  {% if jekyll.environment == 'production' and site.google_analytics %}
    {% include google-analytics.html %}
  {% else %}
    {% include livereload.html %}
  {% endif %}

</html>
