<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="top" class="content-wrapper">
      <div class="parallax-container parallax-header">
        <div class="parallax"><img src="assets/images/hero-large.jpg" alt=""></div>
      </div>
      <div class="jumper">
        <a href="#rakan-kami" class="smooth-scroll">
          <span>RAKAN KAMI</span>
          <i class="fa fa-chevron-circle-down"></i>
        </a>
      </div>
    </div>
    <div id="rakan-kami" class="section scrollspy">
      <div class="container">
        <div class="row">
          <h2>RAKAN KAMI</h2>
          <div class="col s12 m6">
            <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
            <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          </div>
          <div class="col s12 m6">
            <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
            <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          </div>
        </div>
      </div>
    </div>

      <div id="fungsi-produk" class="section scrollspy">
        <div class="row">
          <h2>TAWARAN</h2>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
        </div>
      </div>

      <div id="hubungi" class="section scrollspy">
        <div class="row">
          <!-- {{ content }} -->
          <h2>HUBUNGI</h2>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
          <p> Lorem ipsum dolor sit met, nam ea alienum dolores intellegam, ut qui quidam oblique maluisset. Nam eu inani argumentum, inani solita eos ut. Pro quidam definitionem an. Ut ius erigendi sapiente, nobis fabulas democritum eu qui. Vis porro vitae te, debet fabellas reformdans has ne.  </p>
        </div>
      </div>

    {% include footer.html %}

    <a href="#top" class="back-to-top smooth-scroll" style="display: inline;"><i class="fa fa-long-arrow-up"></i></a>

  </body>

  <!-- dev:start -->
  <script>
    var url = '<script src=\"http:\/\/'
            + window.location.hostname
            + ':35729\/livereload.js?snipver=1\"><\/script>';
    document.write(url);
  </script>
  <!-- dev:end -->

</html>
